---
---

$black: #000000;
$white: #ffffff;
$primary: #4caf50;
$primary-1: #a5d6a7;
$primary-2: #388e3c;
$accent: #dd2c00;

@mixin height($h) {
    z-index: $h;
    box-shadow: 0 ($h * 0.5px) ($h * 1px) 0 rgba(0, 0, 0, ((10 * $h) + 4) / 100);
    transition: box-shadow 0.1s ease-in-out;
}

@mixin textonlight($color) {
    color: rgba($color, 0.87);
    .secondaryText {
        color: rgba($color, 0.54);
    }
    .disabledText {
        color: rgba($color, 0.38);
    }
}
@mixin textondark($color) {
    color: rgba($color, 1);
    .secondaryText {
        color: rgba($color, 0.7);
    }
    .disabledText {
        color: rgba($color, 0.5);
    }
}

%textonlight {
    @include textonlight($black);
}
%textondark {
    @include textondark($white);
}

%primary {
    background-color: $primary;
    @include textonlight($black);
}

%white {
    background-color: $white;
    @include textonlight($black);
}

%primary-1 {
    background-color: $primary-1;
    @include textonlight($black);
}

%primary-2 {
    background-color: $primary-2;
    @include textondark($white);
}
%primary-2-text {
    @include textonlight($primary-2);
}

%accent {
    background-color: $accent;
    @include textondark($white);
}
%accent-text {
    @include textonlight($accent);
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

#leftright {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    flex: 1;
}

#footer {
    @extend %primary;
    padding: 2px;
    text-align: center;
    flex: 0;
}

#left {
    @include height(2);
    @extend %white;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 0.5;

    .header { 
        @extend %primary;
    }
}

#right {
    @include height(0);
    @extend %primary-1;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

    .header {
        @extend %primary-2;
    }
}

#left, #right {
    h3 {
        text-align: center;
        flex: 0;
    }
}

#which {
    display: flex;
    flex-shrink: 0;
    @include height(6);
    margin: 10px 5px;
    border-radius: 2px;

    label {
        flex-grow: 1;
        text-align: center;

        &:first-child {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        &:last-child {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }

        &.sel {
            @extend %primary;
        }
        &:not(.sel) {
            @extend %white;
            @extend .secondaryText;
        }

        input {
            display: none;
        }
    }
}

#rankings {
    flex: 1;
    overflow-y: scroll;
    padding: 0 2px;

    table {
        margin: 0 auto;
        border-collapse: collapse;

        th {
            text-align: left;
        }

        th, td {
            padding: 2px 4px;

            &.pos {
                text-align: right;
            }

            &.name {
                padding: 0 10px;
            }
        }

        tr.ptsUp td.ptsDiff, tr.posUp td.posDiff {
            @extend %primary-2-text;
        }

        tr.ptsDown td.ptsDiff, tr.posDown td.posDiff {
            @extend %accent-text;
        }

        tr:nth-child(odd) {
           @extend %white;
        }

        tr:nth-child(even) {
           @extend %white;
        }
    }
}

#fixtures {
    flex: 1;
    overflow-y: scroll;
    padding: 0 2px;

    table {
        margin: 0 auto;
        border-collapse: collapse;
        margin-bottom: 24px + 56px + 2px;

        tr.spacer {
            height: 3px;
        }

        th, td {
            padding: 2px 4px;
            margin-bottom: 5px;
        }

        input[type=number] {
            width: 3em;
        }
    }
}

#addrow {
    flex: 0;
    position: relative;

    button {
        position: absolute;
        right: 24px;
        bottom: 24px;
        height: 56px;
        width: 56px;
        font-size: 48px;
        border-radius: 50%;
        box-shadow: $black;
        @extend %accent;
        @include height(6);

        &:active {
            @include height(12);
        }

        border: none;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAQMAAADaua+7AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAAABlBMVEX///////9VfPVsAAAAAXRSTlMAQObYZgAAABZJREFUCNdjYLBhYCAG////HwUTqQ8AH00QpSze/owAAAAASUVORK5CYII=');
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}