---
---

$hairline: 1px solid black;
%shaded {
    background-color: Gainsboro;
}

html {
    height: 100%;
    font-size: small;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

#leftright {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    flex: 1;
}

#footer {
    font-size: smaller;
    padding: 2px;
    border-top: $hairline;
    text-align: center;
    flex: 0;
}

#left {
    border-right: $hairline;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 0.5;
}

#right {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#left, #right {
    h3 {
        text-align: center;
        flex: 0;
    }
}

#which {
    display: flex;
    flex-shrink: 0;
    padding: 0 5px;

    label {
        flex-grow: 1;
        text-align: center;
        border: $hairline;
        border-left-width: 0;

        &:first-child {
            border-left-width: 1px
        }

        &.sel {
            @extend %shaded;
            font-weight: bold;
        }

        input {
            display: none;
        }
    }
}

#rankings {
    flex: 1;
    overflow-y: scroll;
    margin-top: 5px;
    padding: 0 2px;

    table {
        margin: 0 auto;
        border-collapse: collapse;

        th {
            text-align: left;
        }

        th, td {
            padding: 2px 4px;

            &.pos {
                text-align: right;
            }

            &.name {
                padding: 0 10px;
            }
        }

        tr:nth-child(even) {
            @extend %shaded;
        }
    }
}

#fixtures {
    flex: 1;
    overflow-y: scroll;
    padding: 0 2px;

    table {
        margin: 0 auto;
        border-collapse: collapse;

        tr.spacer {
            height: 3px;
        }

        th, td {
            padding: 2px 4px;
            margin-bottom: 5px;
        }

        input[type=number] {
            width: 3em;
        }
    }
}

#addrow {
    text-align: center;
    flex: 0;
    padding: 2px;
}